* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #11111d;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #f1f1f1;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar .logo h1 {
    margin-left: 20px;
    text-transform: uppercase;
    color: #11111d;
}

.navbar .searchBox {
    margin-right: 20px;
}

.navbar .searchBox input {
    border-radius: 25px;
    border: 1px solid #888;
    padding: 4px 10px;
    height: 30px;
    max-width: 180px;
    /* border: none; */
    background-color: transparent;
    outline: none;
}

.navbar .searchBox i {
    cursor: pointer;
}

.movieCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.movieCard .card {
    margin-top: 30px;
    border: 2px solid #ccc;
    height: 400px;
    width: 270px;
    margin: 10px;
    overflow: hidden;
}

.movieCard .card img {
    height: 400px;
    /* z-index: -1; */
}

.movieCard .card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: center; */
}

.movieCard .card .details {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-45px);
    background-color: #4343436d;
    backdrop-filter: blur(2px);
    /* height: 400px; */
}

.movieCard .card .details:hover {
    transform: translateY(-150px);
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.movieCard .card .details h1 {
    color: #fff;
    font-size: 20px;
    margin:10px;
    margin-left: 5px;
    width: 230px;
    margin-left: 5px;
}

.movieCard .card .details span {
    position: absolute;
    top: 7%;
    right: 2%;
    font-weight: 600;
    color: red;
}


.movieCard .card .details h2 {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
}

.movieCard .card .details p {
    color: #fff;
    font-size: 10px;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow: hidden;
}